<%- include ("partials/header.ejs") %>


   <header>
       <h1>Where in the world?</h1>
       <button id="dark-mode-btn">Dark Mode</button>
   </header>

   <div class="container">
       <input type="text" id="search" placeholder="Search for a country">
       <select name="region" id="select-region">
           <option value="Africa">Africa</option>
           <option value="Asia">Asia</option>
       </select>
   </div>

   <div id="country-container">
       <div id="card" class="card">
           <img src="" alt="">
           <h3 id="country">Germany</h3>
            <span id="population">Population: 10000</span>
            <span id="region">Region: Europe</span>
            <span id="capitol">Capitol: Capitol</span>
       </div>
   </div>


<%- include ("partials/footer.ejs") %>